<h1>Edit task here</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

<%= link_to "Delete finished task", task_path(@task),
      method: :delete %>
